<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <!-- Devices running Android 12L (API level 32) or lower  -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />

    <!-- Devices running Android 13 (API level 33) or higher -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <!-- To handle the reselection within the app on devices running Android 14
         or higher if your app targets Android 14 (API level 34) or higher.  -->
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />

    <application
        android:name=".base.RoomeApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_roome"
        android:roundIcon="@mipmap/ic_roome_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.RoomE"
        android:usesCleartextTraffic="true"
        tools:targetApi="34">

        <meta-data android:name="google_analytics_automatic_screen_reporting_enabled" android:value="false" />

        <activity
            android:name=".view.splash.StartActivity"
            android:exported="true"
            android:theme="@style/Theme.RoomE">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- "kakao{KAKAO_NATIVE_KEY}://kakaolink" 형식의 앱 실행 스킴을 설정하는데 사용 -->
                <data
                    android:host="kakaolink"
                    android:scheme="kakao${KAKAO_NATIVE_KEY}" />
            </intent-filter>
        </activity>

        <activity android:name=".view.signIn.SignInActivity"/>

        <activity
            android:name=".view.signup.SignUpActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".view.main.MainActivity"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".view.profile.ProfileActivity"
            android:windowSoftInputMode="adjustResize"/>

        <activity android:name=".view.deeplink.DeepLinkActivity"/>

        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="kakao${KAKAO_NATIVE_KEY}" />
            </intent-filter>
        </activity>
    </application>

</manifest>